<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">

	<display-name>Messme</display-name>
	<description>
	Send sms from the web!
    </description>
   

	<servlet>
		<servlet-name>Controller</servlet-name>
		<servlet-class>se.messme.router.Controller</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Controller</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Controller</servlet-name>
		<url-pattern>/index</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Controller</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>Controller</servlet-name>
		<url-pattern>/contacts</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Controller</servlet-name>
		<url-pattern>/addcontact</url-pattern>
	</servlet-mapping>
	
		<servlet-mapping>
		<servlet-name>Controller</servlet-name>
		<url-pattern>/groups</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>Controller</servlet-name>
		<url-pattern>/addgroup</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>Controller</servlet-name>
		<url-pattern>/add-contact-to-group</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>Controller</servlet-name>
		<url-pattern>/messages</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>Controller</servlet-name>
		<url-pattern>/sendmessage</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>Controller</servlet-name>
		<url-pattern>/getmessages</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>Controller</servlet-name>
		<url-pattern>/changemessagestatus</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>Controller</servlet-name>
		<url-pattern>/removecontact</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>Controller</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>

<!-- 

	
<security-constraint>
    <web-resource-collection>
        <web-resource-name>Controller</web-resource-name>
        <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <user-data-constraint>
        <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
</security-constraint>


 -->

</web-app>  